html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  padding: 0;
  margin: 0;
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  background-color: #fff;
  color: #222;
  margin-top: 84px;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  max-width: 1140px;
  padding: 10px 20px;
  padding-bottom: 0;
  margin-left: auto;
  margin-right: auto;
}
.intro{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.site-header {
  width: 100%;
  background-color: #FFFFFF;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
  position: fixed;
  display: block;
  top: 0;
}
.site-logo {
  text-decoration: none;
  margin-right: auto;
}
.site-nav {
  margin-right: 8px;
}
.site-nav-list {
  display: flex;
  align-items: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.site-nav-item {
  display: flex;
  align-items: flex-start;
  position: relative;
}
.site-nav-link {
  padding: 20px;
  text-decoration: none;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 1.6;
  color: #000000;
}
.site-nav-item::after{
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  display: none;
  width: 100%;
  height: 3px;
  background-color: black;
}
.site-nav-item:hover::after{
  display: block;
}
.site-nav-link:active{
  color: #FFFFFF;
  background: rgba(25, 25, 25, 0.7);
}
.number-tel {
  text-align: center;
  text-decoration: none;
  padding: 8px 16px;
  background-color: #00BAFC;
  border-radius: 5px;
  font-weight: 600;
  font-size: 15px;
  line-height: 1.6;
  color: #FFFFFF;
  border: 2px solid transparent;
}
.number-tel:hover{
  background-color: #FFFFFF;
  color: #00BAFC;
  border: 2px solid #00BAFC;
  border-radius: 5px;
}
.number-tel:active{
  background-color: rgba(0, 186, 252, 0.6);
  border-radius: 5px;
  color: #FFFFFF;
  border: 2px solid transparent;
}
.sub-menu {
  display: none;
  list-style-type: none;
  background-color: #FFFFFF;
  box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 100%;
  left: -50%;
  transform: translateX(40px);
  white-space: nowrap;

}
.sub-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.sub-link {
  display: block;
  padding: 16px;
  width: 100%;
  text-decoration: none;
  text-decoration: none;
  color: #000000;
}
.sub-link:hover{
  background-color: #00BAFC;
  color: #FFFFFF;
  border-radius: 1px;
}
.sub-link:active{
  background-color: #00BAFC;
  opacity: 0.6;
  color: #FFFFFF;
}
.site-nav-item:hover .sub-menu{
  display: block;
}
.site-main {
  display: flex;
  align-items: center;
  margin-right: auto;
  margin-left: auto;
}

.services-promo {
  display: flex;
  align-items: center;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  /* margin-top: 97px; */
  margin-bottom: 136px;
  padding-top: 97px;
}
.section-intro {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  max-width: 470px;
  margin-right: 170px;

}
.services-promo-title {
  margin: 0;
  font-weight: bold;
  font-size: 30px;
  line-height: 1.3;
  color: #000000;
  margin-bottom: 16px;
}
.services-promo-text {
  margin: 0;
  margin-bottom: 24px;
}
.services-promo-link{
  text-decoration: none;
  background-color: #00BAFC;
  border-radius: 5px;
  padding: 8px 16px;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.5;
  color: #FFFFFF;
}
.services-promo-link:active{
  background-color: rgba(0, 186, 252, 0.6);
  border-radius: 5px;
}
.services-promo-link:hover{
  background-color: rgba(0, 186, 252, 0.8);
  border-radius: 5px;

}
.you-tube{
  width: 458px;
  height: 258px;
  border-radius: 5px;
}
.services {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.services-title {
  margin: 0;
  text-align: center;
  margin-bottom: 16px;
  font-weight: bold;
  font-size: 24px;
  line-height: 1.3;
  text-align: center;
  color: #000000;
}
.services-text {
  width: 719px;
  text-decoration: none;
  text-align: center;
  margin: 0;
  margin-bottom: 24px;
}
.services-list-type {


}
.services-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  list-style-type: none;
  padding: 0;
  margin: 0;
  margin-bottom: 48px;
}
.services-item {
  margin: 0;
  margin-left: 70px;
  margin-top: 48px;
  padding: 30px;
  text-align: center; box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  font-weight: bold;
}
.services-item:active {
  background-color: #FFFFFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}
.services-item:hover {
  background-color: #FFFFFF;
  box-shadow: 0px 12px 21px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}
.services-link {
  width: 325px;
  background-color: #FFFFFF;
  margin-left: auto;
  margin-right: auto;
  font-size: 20px;
  line-height: 1.3;
  color: #000000;
  text-decoration: none;
  margin-bottom: 16px;
}
.services-link::before{
  content: "";
  margin-bottom: 16px;
  margin-left: auto;
  margin-left: auto;
  display: block;
  width: 178px;
  height: 130px;
  background-image: url("../img/website.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
}
.telegram::before{
  background-image: url("../img/bot-illustration.png");
}
.smm::before{
  background-image: url("../img/smm-illustration.png");
}
.grafik::before{
  background-image: url("../img/design-illustration.png");
}
.crm::before{
  background-image: url("../img/crm-illustration.png");
}
.services-link-list {
  font-weight: normal;
  font-size: 16px;
  line-height: 1.5;
  color: #000000;
  margin: 0;
}
.services-order {
  margin-left: 100px;
  margin-bottom: 56px;
}
.services-order-left {
  background-color: #00BAFC;
  border-radius: 5px;
  padding: 8px 16px;
  text-decoration: none;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.5;
  color: #FFFFFF;
  margin-right: 32px;
}
.services-order-right {
  font-weight: normal;
  font-size: 16px;
  line-height: 1.5;
  color: #00BAFC;
}
.our-work {
  display: block;
  width: 1140px;
  margin-bottom: 56px;
}
.our-work-title {
  margin: 0;
  font-weight: bold;
  font-size: 24px;
  line-height: 1.3;
  text-align: center;
  color: #000000;
  margin-bottom: 16px;
}
.our-work-text {
  margin: 0;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.5;
  color: #000000;
  width: 720px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.our-work-list {
  width: 850px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  list-style: none;
  padding: 0;
  margin: 0;
  margin-left: auto;
  margin-right: auto;
  margin-top: 24px;
  width: 832px;
}
.our-work-ittem {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  /* width: 832px; */
  margin-bottom: 48px;
}
.our-work-ittem:nth-child(even) {
  flex-direction: row-reverse;
}
.our-work-ittem::before{
  display: flex;
  align-self: flex-start;
  justify-content: space-between;
  content: "";
  margin-right: 32px;
  width: 300px;
  height: 277px;
  background-image: url("../img/list.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
}
.check::before{
  background-image: url("../img/check.png");
}
.time::before{
  background-image: url("../img/time.png");
}
.good::before{
  background-image: url("../img/good.png");
}
.personal::before{
  background-image: url("../img/paresonal.png");
}
.our-work-item-div{
  display: flex;
  flex-wrap: wrap;
  width: 500px;
}
.our-work-item-title {
  font-weight: bold;
  font-size: 20px;
  line-height: 1.3;
  text-align: center;
  color: #000000;
  padding: 0;
  margin: 0;
  margin-bottom: 8px;
}
.our-work-item-text {
  padding: 0;
  margin: 0;
}
.our-work-order{
  background-color: #00BAFC;
  border-radius: 5px;
  text-decoration: none;
  color: #ffffff;
  padding: 8px 16px;
  width: 167px;
  margin-left: 469px;
}
.form-list {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  flex-direction: column;
  background-color: #00BAFC;
  padding: 56px;
}
.form-intro{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: column;
}
.form-list-title {
  margin: 0;
  font-weight: bold;
  font-size: 24px;
  line-height: 1.3;
  color: #FFFFFF;
  margin-bottom: 16px;
  text-align: center;
}
.form-list-text {
  margin: 0;
  width: 719px;
  text-align: center;
  color: #FFFFFF;
  margin-bottom: 16px;
}
.form{
  display: flex;
  flex-wrap: wrap;
  margin-left: auto;
  margin-right: auto;
  flex-direction: column;
  width: 348px;
  background-color: #ffffff;
  padding: 24px;
  border-radius: 5px;
}

input {
  width: 300px;
  padding: 16px;
  margin-bottom: 16px;
  border: 0;
  border-radius: 5px;
  background-color: #F3F3F3;
  color: #000000;
}
.form-select{
  width: 300px;
  padding: 16px;
  margin-bottom: 16px;
  border: 0;
  border-radius: 5px;
  background-color: #F3F3F3;
  color:grey;
}
.submit{
  width: 167px;
  margin-left: auto;
  margin-right: auto;
  padding: 8px 16px;
  background-color: #00BAFC;
  color: #ffffff;
  border: 0;
  border-radius: 5px;
}
.site-footer {
  padding: 56px 100px;
  background-color:  #191919;
}
.contenier {
  display: flex;
  align-items: flex-start;
}
.left-section {
  width: 320px;
  margin-top: 25px;
  margin-right: 100px;
}
.left-section-top-text {
  margin: 0;
  font-weight: bold;
  font-size: 20px;
  line-height: 1.3;
  margin-bottom: 16px;
  color: #FFFFFF;
}
.left-section-text {
  margin: 0;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.5;
  color: #FFFFFF
}
.right-section {
  display: flex;
  align-items: flex-start;
}
.right-section-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  margin-right: 90px;
}
.right-section-list-title {
  font-weight: bold;
  font-size: 20px;
  line-height: 1.3;
  color: #FFFFFF;
}
.right-section-list-item {
  margin-bottom: 16px;
}
.right-section-list-link{
  font-weight: normal;
  font-size: 16px;
  line-height: 1.3;
  color: #ffffff;
  text-decoration: none;
  padding: 10px;
}
.right-section-list-link:hover{
  color:#00BAFC;

}
.right-section-list-link:active{
  color: #00BAFC;
  opacity: 0.6;
}
.social-link:hover{
  color:#00BAFC;

}
.social-link:active{
  color: #00BAFC;
  opacity: 0.6;
}
.social {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.social-item {
  margin-bottom: 16px;
}
.social-link {
  display: flex;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.3;
  color: #FFFFFF;
  text-decoration: none;
}
.social-link::before{
  display: flex;
  align-self: flex-start;
  justify-content: space-between;
  content: "";
  margin-right: 8px;
  width: 24px;
  height: 24px;
  background-image: url("../img/telegram.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
}
.facebook::before{
  background-image: url("../img/facebook.png");
}
.instagram::before{
  background-image: url("../img/instagram.png");
}





@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) {
  .services-link::before{
    background-image: url("../img/website@2x.png");
  }
  .telegram::before{
    background-image: url("../img/bot-illustration@2x.png");
  }
  .smm::before{
    background-image: url("../img/smm-illustration@2x.png");
  }
  .grafik::before{
    background-image: url("../img/design-illustration@2x.png");
  }
  .crm::before{
    background-image: url("../img/crm-illustration@2x.png");
  }
  .check::before{
    background-image: url("../img/check@2x.png");
  }
  .time::before{
    background-image: url("../img/time@2x.png");
  }
  .good::before{
    background-image: url("../img/good@2x.png");
  }
  .personal::before{
    background-image: url("../img/paresonal@2x.png");
  }
  .our-work-ittem::before{
    background-image: url("../img/list@2x.png");
  }
  .social-link::before{
    background-image: url("../img/telegram@2x.png");
  }
  .facebook::before{
    background-image: url("../img/facebook@2x.png");
  }
  .instagram::before{
    background-image: url("../img/instagram@2x.png");
  }
}